<div class="post">
	<div class="header">
		<h1>Post title</h1>
		
		<button
			routerLink=""
			class="btn btn-link"
		>
			Home page
		</button>
	</div>
	
	<div class="info">
		<strong>Author</strong>
		<small>30.06.2022</small>
	</div>
	
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aliquid aut consequuntur cum dolor doloremque eaque error labore nobis non nulla odit officiis, quas quidem reiciendis reprehenderit, totam veritatis</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aliquid aut consequuntur cum dolor doloremque eaque error labore nobis non nulla odit officiis, quas quidem reiciendis reprehenderit, totam veritatis</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aliquid aut consequuntur cum dolor doloremque eaque error labore nobis non nulla odit officiis, quas quidem reiciendis reprehenderit, totam veritatis</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aliquid aut consequuntur cum dolor doloremque eaque error labore nobis non nulla odit officiis, quas quidem reiciendis reprehenderit, totam veritatis</p>
	</div>
</div>
